<div *ngIf="isLoaded">


<app-titlebar></app-titlebar>
<div class="row d-flex justify-content-between">
    <div class="col-sm-4 p-3 m-3">
        <div class="card">
            <img class="card-img" src="{{product.primaryimage}}" alt="Card image">
            <div class="card-img-overlay">
            
            </div>
          </div>
    </div>
   

<div class="col-sm-6 p-3 m-3">
    <div class="d-flex justify-content-between">
      <div>
        <h2 class="font-weight-light">{{product.name}}</h2>
        <span class="text-secondary">Product Id: {{product.id}}</span>
      </div>
      <div class="py-3 px-3">
        <h5>{{product.status}}</h5>
      </div>
    </div>
    <div class="my-3">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>Product Code</td>
            <td>{{product.sellerproductcode}}</td>
          </tr>
          <tr>
            <td>Short description</td>
            <td>{{product.shortdiscription}}</td>
          </tr>
          <tr>
            <td>Long Description</td>
            <td>{{product.longdiscription}}</td>
          </tr>
          <tr>
            <td>Dimensions</td>
            <td>{{product.dimensions}}</td>
          </tr>
          <tr>
            <td>MRP</td>
            <td>{{product.mrp}}</td>
          </tr>
          <tr>
            <td>SSP</td>
            <td>{{product.ssp}}</td>
          </tr>
          <tr>
            <td>YMP</td>
            <td>{{product.ymp}}</td>
          </tr>
          <tr>
            <td>Comments</td>
            <td>{{product.comments}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>